$font-stack: "DM Sans", sans-serif;
/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap'); */

$spaceamounts:(10,20);

@each $space in $spaceamounts{
    .p-#{$space}{
        padding:#{$space}px;
    }
}




