


@media (max-width: 1400px) {
  .top-nekretnine .grid {
    gap: 24px!important;
  }
}
@media (max-width: 1200px) {
  .featured-section .flex .text{
    padding: 35px!important;
  }
.nekretnina-details .grid {
  grid-template-columns: 1fr 1fr!important;
  gap: 48px;
}
.top-nekretnine .grid {
  grid-template-columns: 1fr 1fr!important;
  gap: 48px!important;
  padding:35px;
}
.top-nekretnine .grid .card:nth-child(1) {
  grid-column: 1!important;
}
.top-nekretnine .grid .card:nth-child(2) {
  grid-column: 1!important;
}
.top-nekretnine .grid .card:nth-child(3) {
  grid-column: 2!important;
  grid-row: span 1!important;
  top: 0%!important;
}
.top-nekretnine .grid .card:nth-child(4) {
  grid-column: 2!important;
  grid-row-start: 1!important;
}
.top-nekretnine .grid .card:nth-child(5) {
  grid-column: 1!important;
}
.top-nekretnine .grid .card:last-child {
  grid-column: span 2!important;
}
.top-nekretnine .card.middle {
  height: 100%;
}
.desktop-nav{
  display: none;
}
.mobile-menu-toggle{
  display:block!important;
  
}
.card-top-container{
.column h1{
  font-size: $font-size-4xl;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
}
}
}
@media (max-width: 1100px) {
/*   .inquiry{
    padding:0px!important;
  } */
  .inquiry .grid{
    grid-template-columns: 1fr!important;
  .column:nth-child(2) {
    align-items: center!important;
  }
  }
  .inquiry .contact-form form{
    max-width: 100%;
  }
  .inquiry .grid .column:nth-child(2) .content {
    max-width: 100%!important;
  }
  }
@media (max-width: 1000px) {
.nekretnina-details{
  height:100%!important;
  .flex{
    flex-direction: column;
  }
} 
.dot-slider .flex{
  flex-direction: column;
}
.dot-slider .flex .box:last-child img {
  max-width: 100%!important;
  width: 100%;
}
.section-ponuda .grid , .contact-team .grid{
  grid-template-columns: repeat(2,1fr)!important;
}
  .showcase{
    .container{
      display: flex;  
      flex-direction: column!important;
    }
    .left-section, .right-section {
      justify-content:start!important;
      align-items: start!important;
    }
    }

    .footer .grid {
      grid-template-columns: 1fr!important;
    }
    }


    @media (max-width: 850px) {
    .nekretnina-details .grid {
      grid-template-columns: 1fr 1fr!important;
      gap: 48px;
    }
      .search-results .grid{
        grid-template-columns: 1fr 1fr;
        }
      .nekretnina-details .grid {
        grid-template-columns: 1fr!important;
        gap: 48px;
      }
      .section-ponuda .grid , .contact-team .grid{
        grid-template-columns: 1fr!important;
      }
      .top-nekretnine .grid{
        grid-template-columns: 1fr!important;
      }
   
      .top-nekretnine .grid .card:nth-child(3) {
        grid-column: 1!important;
      }
      .top-nekretnine .grid .card:nth-child(4) {
        grid-column: 1!important;
      }
      .top-nekretnine .grid .card:last-child {
        grid-column: span 1!important;
      }
      }
      
@media (max-width: 768px) {
  .select-row {
    grid-template-columns: 1fr!important;
    width:100%;
    max-width:100%!important;
  }
  .card-top-container {
    flex-direction: column!important;
    .column-info , .list-group{
      max-width:100%!important;
    }
  }
  .inquiry .grid{
    padding:0 40px!important;
  }
}


    @media (max-width: 650px) {

      .showcase .container {
        padding: 120px 60px 0px 60px!important;
        align-items: flex-start!important;
        h1{
          font-size: $font-size-4xl;
        }
      }      
   
      .search-results .grid{
        grid-template-columns: 1fr;
        }

    }
    @media (max-width: 480px) {
      .select-row {
        grid-template-columns: 1fr!important;
      }
      .custom-select {
        position: relative !important; 
      }
    }

